<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Vision")}</%block>

<section class="static-container about">
<h1>${_("Om AkademiX")}</h1>
<!--<p>${_("This page left intentionally blank. It is not used by edx.org but is left here for possible use by installations of Open edX.")}</p>-->




<p>Vi i AkademiX tilbyr en platform for nettbaserte kurs på norsk. Vi har nylig startet opp og tilbyr foreløpig kun et lite utvalg av kurs. Vi planlegger å tilby en stor variasjon av kurs og innhold i nær fremtid.
</p>

<p> Ta gjerne kontakt ved spørsmål eller om du ønsker å levere nettkurs gjennom AkademiX: <a href="mailto:akademixno@gmail.com"></a>
</section>
