<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="static-container faq">
<h1>${_("FAQ")}</h1>
<p>
  <ul>
    <li> <b>Kan jeg få betatilgang slik at jeg kan logge inn på demokursene?</b> <br>
      Ja, vi inkluderer gjerne flere betatestere. Send en kort beskrivelse av deg selv til <a href="mailto:beta@akademix.no">beta@akademix.no</a>.
    </li>
    <br>
    <li> <b>Kan jeg få betatilgang til kursutviklingsplatformen slik at jeg kan utvikle mitt eget kurs?</b> <br>
      Ja. Send en kort beskrivelse av deg selv til <a href="mailto:beta@akademix.no">beta@akademix.no</a>.
    </li>
    <br>
    <li> <b>Kan jeg hoste mitt eget kurs på AkademiX?</b> <br>
      Ja. Ta kontakt på <a href="mailto:kontakt@akademix.no">kontakt@akademix.no</a>.
    </li>
</p>
</section>
