<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Vision")}</%block>

<section class="static-container about">
<h1>${_("Om AkademiX")}</h1>
<!--<p>${_("This page left intentionally blank. It is not used by edx.org but is left here for possible use by installations of Open edX.")}</p>-->




<p>AkademiX er en e-læringsplatform med en moderne nettkursløsning og et interaktivt oppgavesystem, utviklet og driftet av AkademiX ANS.</p>

<p>Ønsker du å lage en MOOC eller et annet type nettkurs? Vi tilbyr hosting og kan hjelpe deg med videoproduksjon og kursdesign.</p>

<p>Besøk <a href="http://akademix.no">akademix.no</a> eller kontakt oss på <a href="mailto:kontakt@akademix.no">kontakt@akademix.no</a>.</p>
</section>
