<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Vision")}</%block>

<section class="static-container about">
<h1>${_("Om AkademiX")}</h1>
<!--<p>${_("This page left intentionally blank. It is not used by edx.org but is left here for possible use by installations of Open edX.")}</p>-->




<p>AkademiX er en e-læringsplatform med en moderne nettkursløsning, <a href="http://kurs.akademix.no">kurs.akademix.no</a> og et interaktivt oppgavesystem <a href="http://webwork.akademix.no/webwork2">webwork.akademix.no</a></p>

<p>Ønsker du å lage en MOOC eller et annet type nettkurs? Vi tilbyr hosting og kan hjelpe deg med videoproduksjon og kursdesign.</p>

<p>Besøk <a href="http://akademix.no">akademix.no</a> eller kontakt oss på <a href="mailto:kontakt@akademix.no">kontakt@akademix.no</a>.</p><br><br>

<p>Site powered by <a href="http://open.edx.org/">Open edX</a>. Based on the theme developed by <a href="https://github.com/IONISx/edx-theme">IONISx</a>.<p>

</section>
